<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-toolbar>Title</ion-toolbar>
        </ion-title>
      </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item routerLink="stats" >
              <ion-label>Statistics</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="category">
        <ion-label>Category</ion-label>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="note">
        <ion-label>Note</ion-label>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-app>
